<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <CopTraxBodyWorn.Properties.Settings>
            <setting name="defaultFileFolder" serializeAs="String">
                <value>C:\Users\coptraxadmin\Documents\CopTraxSKCamera</value>
            </setting>
            <setting name="syncwithCopTrax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>000000000000000</value>
            </setting>
            <setting name="CameraSelecton" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SingleBayDocking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnalbeOnScreenKeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultLanguage" serializeAs="String">
                <value>Español</value>
            </setting>
        </CopTraxBodyWorn.Properties.Settings>
    </userSettings>
</configuration>