<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="IncaX.PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="IncaX.PC.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup  useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
		<IncaX.PC.Properties.Settings>
   <setting name="storageRoot" serializeAs="String">
    <value />
   </setting>
   <setting name="comPort" serializeAs="String">
    <value>17</value>
   </setting>
   <setting name="baudRate" serializeAs="String">
    <value>4800</value>
   </setting>
   <setting name="parity" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dataBit" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="stopBit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="deviceName" serializeAs="String">
    <value>Logitech HD Pro Webcam C920</value>
   </setting>
   <setting name="audioDeviceName" serializeAs="String">
    <value>USB AUDIO  CODEC</value>
   </setting>
   <setting name="UID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="userName" serializeAs="String">
    <value />
   </setting>
   <setting name="password" serializeAs="String">
    <value />
   </setting>
   <setting name="videoChunkLength" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="archiveStoragePath" serializeAs="String">
    <value />
   </setting>
   <setting name="useMpeg4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="customerKey" serializeAs="String">
    <value />
   </setting>
   <setting name="customerID" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="deleteLocalAfterCopy" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="audioDeviceName2" serializeAs="String">
    <value>USB 28285 Device</value>
   </setting>
   <setting name="preEventRecordingEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="reportTakenEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="isIncaXHosted" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="gpsBroadcasterEnable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="deviceName2" serializeAs="String">
    <value>2828x</value>
   </setting>
   <setting name="NO_SECOND_VIDEO_NAME" serializeAs="String">
    <value>AUDIO ONLY</value>
   </setting>
   <setting name="expiryDate" serializeAs="String">
    <value />
   </setting>
   <setting name="speedTriggersEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="triggerSpeed" serializeAs="String">
    <value>65</value>
   </setting>
   <setting name="triggerStopSpeed" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="triggerPostRecordDuration" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="checkForUpdates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="hostName" serializeAs="String">
    <value />
   </setting>
   <setting name="enableMassStorage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableAutoUpload" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="videoQuality" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="triggerCOMPort" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="micTriggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ignitionTriggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="lightBarRearTriggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="lightBarFrontTriggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="hardwareComPortEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="syncCameras" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableVideo2Prieview" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="qscale" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="defaultCity" serializeAs="String">
    <value />
   </setting>
   <setting name="defaultCountry" serializeAs="String">
    <value>US</value>
   </setting>
   <setting name="compressionFilter" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="disablePreEventWhenCollapsed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="applicationCollapsed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="compressionFilter2" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="micTriggerThreshold" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="collapseWhenTriggered" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="customerHostedServer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="quickZoomLevel" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="quickZoomPanLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="quickZoomTiltLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="quickZoomDuration" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="bluetoothDeviceName" serializeAs="String">
    <value />
   </setting>
   <setting name="bluetoothTriggerOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="compressVideo2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="productKey" serializeAs="String">
    <value />
   </setting>
   <setting name="disableVisualIndicators" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="expressionEncoderEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="settingsProtected" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableBluetoothMonitor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bluetoothAudioDeviceName" serializeAs="String">
    <value>Headset Microphone</value>
   </setting>
   <setting name="firstTimeSetup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="allowRecordingWithoutGps" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="cellUID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="cellUser" serializeAs="String">
    <value />
   </setting>
   <setting name="c2dmId" serializeAs="String">
    <value />
   </setting>
   <setting name="enableCellActivation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="cellStartSpeed" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="cellMaxRecordTime" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="cellActivationDelay" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="enableCellAutoRecord" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableLiveStreaming" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="autoUploadConnectionFilter" serializeAs="String">
    <value />
   </setting>
   <setting name="failedVideoStorageDir" serializeAs="String">
    <value>c:\\CopTrax-Backup</value>
   </setting>
   <setting name="triggerBoxID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="bitMaskHigh" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="persistAdminSettings" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="enableGPSPortScanning" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableSingleCamRecording" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="radarType" serializeAs="String">
    <value />
   </setting>
   <setting name="radarProtocol" serializeAs="String">
    <value />
   </setting>
   <setting name="radarComPort" serializeAs="String">
    <value />
   </setting>
   <setting name="radarBaudRate" serializeAs="String">
    <value>1200</value>
   </setting>
   <setting name="lookAndFeel2013" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="useKmh" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableTriggerRecordStop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="cameraLedFlashOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="persistentPtzOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="requireOfficerLogin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="minPreEventFPS" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="currentFocusLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="triggerBoxVersion" serializeAs="String">
    <value>0.0.6.1</value>
   </setting>
   <setting name="enableCrashAccelerometer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="crashThreshold" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="pursuitThreshold" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ignitionTimeOff" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="EnableThirdCamera" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enablePursuitAccelerometer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Trigger3" serializeAs="String">
    <value>FLB</value>
   </setting>
   <setting name="Trigger4" serializeAs="String">
    <value>RLB</value>
   </setting>
   <setting name="Trigger5" serializeAs="String">
    <value>IGN</value>
   </setting>
   <setting name="Trigger6" serializeAs="String">
    <value>BRK</value>
   </setting>
   <setting name="VideoResolution" serializeAs="String">
    <value>1280X720</value>
   </setting>
   <setting name="PreEventLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="VideoStorage24" serializeAs="String">
    <value>D:\</value>
   </setting>
   <setting name="EnableBackgroundRecording" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="defaultLanguage" serializeAs="String">
    <value>Español</value>
   </setting>
   <setting name="CPUsageEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CPUCoreUsed" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="PrimaryCameraNameKeyword" serializeAs="String">
    <value>Webcam C9</value>
   </setting>
   <setting name="PhotoTakenStorageFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="SelectedUser" serializeAs="String">
    <value>""</value>
   </setting>
   <setting name="UseVideoCameraProfile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeviceNameUSBHD" serializeAs="String">
    <value>USB Camera</value>
   </setting>
   <setting name="VideoPropBrightness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VideoPropContrast" serializeAs="String">
    <value>32</value>
   </setting>
   <setting name="VideoPropHue" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VideoPropSaturation" serializeAs="String">
    <value>56</value>
   </setting>
   <setting name="VideoPropSharpness" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="VideoPropGamma" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="VideoPropWhiteBalance" serializeAs="String">
    <value>4600</value>
   </setting>
   <setting name="VideoPropBacklightComp" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VideoPropPowerLineFrequency" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="CameraControlPropExposure" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="CameraControlPropExposureFlag" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="VideoPropWhiteBalanceFlag" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="VideoPropColorEnable" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VideoPropBrightnessFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropContrastFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropHueFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropSaturationFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropSharpnessFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropGammaFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropBacklightCompFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropGainFlag" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VideoPropColorEnableFlag" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VideoPropGain" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="deviceNamePrev" serializeAs="String">
    <value />
   </setting>
   <setting name="FFMpegVideoQuality" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="EnableTrigger3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableTrigger4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableTrigger5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableTrigger6" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RadarButtonEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableOnScreenKeyboard" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CopTraxBackupVideoSizeGBMin" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="EnableWapUpload" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="domain" serializeAs="String">
    <value />
   </setting>
   <setting name="enableActiveDirectoryLogin" serializeAs="String">
    <value>False</value>
   </setting>
  </IncaX.PC.Properties.Settings>
		<IncaX.PC.Settings>
			<setting name="storageRoot" serializeAs="String">
				<value>c:\IncaX</value>
			</setting>
		</IncaX.PC.Settings>
	</userSettings>
</configuration>
